* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a616e;
    background-color: #f5f2f1;
}

header,
footer {
    background-color: #fdffff;
    color: #077d72;
    padding: 10px;
    text-align: center;
    font-size: 1.0rem;
}

footer {
    margin-top: 20px;
    border-top: 4px solid #028585;
    padding-top: 10px;
    font-size: 0.9rem;
}

nav {
    background-color: #028585;
    padding: 10px;
    display: block;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #f3f7f7;
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    border-radius: 4px;
}

nav a:hover,
nav a:focus {
    color: #0c8d7e;
    background-color: rgb(241, 237, 237);
    outline: none;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 10px;
}

h1 {
    color: #0a8289;
    margin: 0.5rem 0 1rem;
    font-size: 1.9rem;
    line-height: 1.25;
}

main img {
    width: 200px;
    height: auto;
    border: 2px solid #10796c;
    padding: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: block;
    margin: 0 0 1rem;
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    padding: 0;
    margin: 0 0 1rem;
    line-height: 1.6;
}

aside {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #f8fafa;
    background-color: #f9f9f9;
    color: #2c2a2a;
}

aside h2 {
    margin: 0 0 0.5rem;
    font-size: 0.9rem;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 4px;
}

@media (min-width: 980px) {
    .content-wrap {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    main {
        flex: 1 1 auto;
    }
}

@media (max-width: 979px) {
    aside {
        width: auto;
        margin: 10px auto 20px;
    }
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    /* Fixed this line */
    background-color: #c7e8e2;
    color: #000;
}